#! /usr/bin/env python

PACKAGE='vslam_system'
import roslib; roslib.load_manifest(PACKAGE)

from dynamic_reconfigure.parameter_generator import *
import detector_parameters

gen = ParameterGenerator()
detector_parameters.add_params(gen)

exit(gen.generate(PACKAGE, "StereoVslamNode", "StereoVslamNode"))
